html,
body {
  height: 100%;
}

body{
  background-color: #373D5C;
}

.navb{
  background-color: #D8DDFA
}

.websiteBanner{
  background-image: url("../images/contact.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right; 
  background: rgb(125,119,231);
  background: linear-gradient(304deg, rgba(125,119,231,1) 0%, rgba(137,137,227,1) 53%, rgba(0,212,255,1) 100%);
}

.sbar {
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
