html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #4d4d4d;
  background-image: url("websitebg.jpg");
}
h1 {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 35px;
  color:  #e1e3e8;
}
h5 {
  color:  #e1e3e8;
}
.modal-content {
  background-color: #4d4d4d;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  margin: auto;
  background-color: #4d4d4d;
  border-radius: 25px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .modal-footer {
  border-color: inherit;
}
.form-signin .modal-header {
  border-color: inherit;
}
.form-signin input[type="text"] {
  margin-bottom: -2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #888c93;
  border-color: #313335;
  color: #e1e3e8;
}
.form-signin input[id="inputPassword"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #888c93;
  border-color: #313335;
  color: #e1e3e8;
}
.form-signin input[type="checkbox"] {
  color:#e1e3e8;
}
.form-signin button[type="submit"] {
  background-color: #6666ff;
  border-color: #6666ff;
}
.form-signin input[id="signUpName"] {
  margin-bottom: -2px;
}
.form-signin input[id="emailAdd"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form-signin input[id="signUpId"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[id="signUpPassword"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -2px;
}
.form-signin ::placeholder {
  color: #a1a7af;
}
.checkbox label {
  color: #e1e3e8;
}
.modal-body label {
  color: #e1e3e8;
}
